<div class="flex justify-between items-center mx-4">

    <div class="flex-1 w-1/2">
        <a href="/" class="btn btn-ghost normal-case justify-center items-center h-auto text-3xl p-4 px-6" aria-label="Home">Lego Collection</a>      
    </div>
    
    <div class=" hidden md:flex items-center justify-center w-1/2 text-lg">
        <a class="<%= (page == "/lego/addSet") ? 'active' : '' %> btn btn-ghost" href="/lego/addSet">Add to Collection</a>
        <a class="<%= (page == "/lego/sets") ? 'active' : '' %> btn btn-ghost" href="/lego/sets" aria-label="lego/sets">View Collection</a>
        <a class="<%= (page == "/about") ? 'active' : '' %> btn btn-ghost" href="/about" aria-label="About">About</a>
        <a class="<%= (page == "/userHistory") ? 'active' : '' %> btn btn-ghost bg-base-200" href="/userHistory" aria-label="userHistory">User History</a>&nbsp;&nbsp;
        <a class="<%= (page == "/login") ? 'active' : '' %> btn btn-ghost bg-base-200" href="/login" aria-label="login">Login</a>&nbsp;&nbsp;
        <a class="<%= (page == "/register") ? 'active' : '' %> btn btn-ghost bg-base-200" href="/register" aria-label="register">Register</a>
    </div>
</div> 
<br> 
